<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a [routerLink]="'/users'" [routerLinkActive]="['active']" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                <i class='fas fa-user-friends  fa-fw me-3'></i>
                <span>Users</span>
            </a>
            <a [routerLink]="'/country'" [routerLinkActive]="['active']" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-globe fa-fw me-3"></i>
                <span>countrys</span>
            </a>

            <a [routerLink]="'/state'" [routerLinkActive]="['active']" class="list-group-item list-group-item-action py-2 ripple">
                <i class='fas fa-subway fa-fw me-3'></i
        ><span>states</span></a
        >
     
          
      <a
      [routerLink]="'/address'" [routerLinkActive]="['active']"
         class="list-group-item list-group-item-action py-2 ripple"
         ><i class='far fa-address-card fa-fw me-3'></i
        ><span>address</span></a
        >
   
     
    </div>
  </div>
</nav>
<!-- Sidebar -->