<form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <input type="text" id="form6Example1" name="firstname" class="form-control" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors || (f.firstname.errors&&f.firstname.touched)}" />
                <label class="form-label" for="form6Example1">First name</label>


                <div *ngIf="!submitted &&f.firstname.touched && f.firstname.errors" class="invalid-feedback">

                    <div>First name is min 3 char</div>
                </div>

                <div *ngIf="submitted && f.firstname.errors?.minlength?.actualLength<3 &&f.firstname.touched" class="invalid-feedback">

                    <div>First name is min 3 char</div>
                </div>

                <div *ngIf="(submitted && f.firstname.errors) || (f.firstname.touched && f.firstname.errors)" class="invalid-feedback">

                    <div *ngIf="f.firstname.errors.required">First name is required</div>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <input type="text" id="form6Example2" name="lastname" class="form-control" formControlName="lastname" />
                <label class="form-label" for="form6Example2">Last name</label>

            </div>
        </div>
    </div>


    <!-- Text input -->
    <div class="form-outline mb-4">
        <input type="text" id="form6Example4" name="address" class="form-control" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors || ((f.address.errors&&f.address.touched))}" />
        <label class="form-label" for="form6Example4">Address</label>



        <div *ngIf="!submitted &&f.address.touched && f.address.errors" class="invalid-feedback">

            <div>Address is min 2 char</div>
        </div>

        <div *ngIf="submitted && f.address.errors?.minlength?.actualLength<3 && f.address.touched" class="invalid-feedback">

            <div>Address is min 2 char</div>
        </div>

        <div *ngIf="(submitted && f.address.errors) || (f.address.touched && f.address.errors)" class="invalid-feedback">

            <div *ngIf="f.address.errors.required">Address is required</div>
        </div>




    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="email" id="form6Example5" name="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors || ((f.email.errors&&f.email.touched)) }" />
        <label class="form-label" for="form6Example5">Email</label>
        <div *ngIf="submitted && f.email.errors || ((f.email.errors&&f.email.touched))" class="invalid-feedback">

            <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
    </div>

    <!-- Number input -->
    <div class="form-outline mb-4">
        <input type="number" id="form6Example6" name="phone" class="form-control" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors || ((f.phone.errors&&f.phone.touched)) }" />
        <label class="form-label" for="form6Example6">Phone</label>

        <div *ngIf="!submitted &&f.phone.touched && f.phone.errors" class="invalid-feedback">

            <div>Phone is min 3 char</div>
        </div>

        <div *ngIf="submitted && f.phone.errors?.minlength?.actualLength<3  && f.phone.touched" class="invalid-feedback">

            <div>Phone is min 3 char</div>
        </div>

        <div *ngIf="(submitted && f.phone.errors) || (f.phone.touched && f.phone.errors)" class="invalid-feedback">

            <div *ngIf="f.phone.errors.required">Phone is required</div>
        </div>


    </div>



    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>

</form>